# Maven build files
target
*.log
maven-eclipse.xml
build.properties
site-content
*~
.mvn/

# IntelliJ IDEA files
.idea
.iws
*.iml
*.ipr

# Eclipse files
.settings
.classpath
.project
.externalToolBuilders
.checkstyle

# jenv's version file
.java-version
/.DS_Store

# NetBeans files
nb-configuration.xml
nbactions.xml
