<?xml version="1.0"?>

<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.1//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_1.dtd">

<!-- commons lang customization of default Checkstyle behavior -->
<module name="Checker">
  <property name="basedir" value="."/>
  <property name="localeLanguage" value="en"/>
  <module name="PackageHtml"/>
  <module name="TreeWalker">
    <module name="TabCharacter"/>
    <module name="AvoidStarImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <module name="NeedBraces"/>
    <module name="RedundantThrows">
      <property name="allowUnchecked" value="true"/>
    </module>
    <module name="LineLength">
      <property name="max" value="120"/>
    </module>
    <module name="JavadocMethod">
      <property name="allowUndeclaredRTE" value="true"/>
    </module>
 </module>
</module>
                        

